.popup__save-button {
  min-width: 109px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  margin: 18px 0 0;
  padding: 14px 125px 18px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media (max-width: 450px) {
  .popup__save-button {
    padding: 14px 82px;
    margin: 15px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}