.login__container {
  max-width: 358px;
  position: relative;
  margin: 60px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .login__container {
    margin: 40px auto 0;
  }
}