.profile__activity {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

@media (max-width: 550px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
